<div>
    <span class="write">Salasana vaaditaan</span>
    <div id="login" style="margin-top: 1rem;">
        <label for="password">${password}<span class="write">:</span></label>
        <input class="text write" id="password" />
        <input class="text write" id="hiddenPwd" type="hidden"/>
    </div>
</div>