<div style="position: relative">
    <span class="write hideable">Etsi oikea sana edetäksesi</span>
    <div><span class="write hideable">Yrityksiä jäljellä:</span> <span id="attempts"></span></div>
    <div>
        <div class="puzzle area"></div>
        <div class="puzzle feedback"></div>
        <div class="puzzle input" id="puzzle_input"></div>
    </div>
</div>