<div>
    <div id="welcome" style="margin-top: 1rem;">
        <div class="button write" data-value="login">Kirjaudu sisään</div><br />
        <div class="button write" data-value="about">Tietoja</div><br />
        <div class="button write" data-value="exit">Poistu</div>
    </div>
</div>