<div>
    <div id="about" style="margin-top: 1rem;">
        <h2 class="write">!!! Huomio !!!</h2>
        <p>${message}</p>
        <p><span class="write">Versio: </span>${version}</p>
        <p>${copyright}</p>
    </div>
</div>